<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <log4net>
    <appender name="LogERRORAppender" type="log4net.Appender.RollingFileAppender">
      <!--是否续写-->
      <param name="AppendToFile" value="true"/>
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock"/>
      <param name="StaticLogFileName" value="true"/>
      <!--保存路径-->
      <param name="File" value="Log\\Errorlog\\"/>
      <param name="DatePattern" value="yyyy-MM-dd.LOG"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="RollingStyle" value="Date"/>
      <param name="Encoding" value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="时间:%d日志内容:%m%n-----------------------------------------%n%n"/>
      </layout>
    </appender>
    <appender name="LogINFOAppender" type="log4net.Appender.RollingFileAppender">
      <!--是否续写-->
      <param name="AppendToFile" value="true"/>
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock"/>
      <param name="StaticLogFileName" value="true"/>
      <!--保存路径-->
      <param name="File" value="Log\\Infolog\\"/>
      <param name="DatePattern" value="yyyy-MM-dd.LOG"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="RollingStyle" value="Date"/>
      <param name="Encoding" value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="时间:%d日志内容:%m%n-----------------------------------------%n%n"/>
      </layout>
    </appender>
    <!-- Print only messages of level DEBUG or above in the packages -->
    <logger name="ErrorLog">
      <level value="ERROR"/>
      <appender-ref ref="LogERRORAppender"/>
    </logger>
    <logger name="InfoLog">
      <level value="INFO"/>
      <appender-ref ref="LogINFOAppender"/>
    </logger>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="History" connectionString="Data Source=.;database=History;uid=sa;pwd=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
